<ion-header>
  <ion-navbar>
  <ion-buttons left>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
    <ion-title>Home</ion-title>
  <ion-buttons right>
    <button  ion-button icon-end solid (tap)="showAlert()">
        Help
        <ion-icon name="help-circle"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.name}}
      <div class="item-note" item-end>
        {{item.species}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
   <b>{{selectedItem.name}}</b>
   <p>{{selectedItem.sex}} {{selectedItem.species}}</p>
   <p> {{selectedItem.age}} years old</p>
   <p> Registration: {{selectedItem.rego}}</p>
   <p> Phone Number: {{selectedItem.phone}}</p>
  </div>
</ion-content>
