<ion-header>
  <ion-navbar>
  <ion-buttons left>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
    <ion-title>Home</ion-title>
  <ion-buttons right>
    <button  ion-button icon-end solid (tap)="showAlert()">
        Help
        <ion-icon name="help-circle"></ion-icon>
    </button>
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Edit or Delete a Pet</h3>

  <p>
    Choose an existing entry for a pet and select 'Edit' to make
    changes, or 'Delete' to remove their record from the database.
  </p>
  
   <ion-list>
   <ion-item>
    <ion-label>Pets</ion-label>
    <ion-select [(ngModel)]="selectedItem" (ionChange)="onSelectChange($event)" 
    interface= "action-sheet">
    <ion-option *ngFor="let item of items" value = {{item.name}}>   
      {{item.name}}
      <div class="item-note" item-end>
        ({{item.species}})
      </div>
    </ion-option>
    </ion-select>
   </ion-item>
   </ion-list>
   
  <div *ngIf="ifSelected()" padding>
   <b>{{selectedPet.name}}</b>
   <p>{{selectedPet.sex}} {{selectedPet.species}}</p>
   <p> {{selectedPet.age}} years old</p>
   <p> Registration: {{selectedPet.rego}}</p>
   <p> Phone Number: {{selectedPet.phone}}</p>
  </div>
  
  <button ion-button (tap)="ifEditing()" >Edit</button>
   <button ion-button (tap)="deleteActionSheet()">Delete</button>
   
   <div *ngIf="editing" padding>
   <form (ngSubmit)="submit()">
  
   <ion-item>
   <ion-input type="text" placeholder="Pet Name" [(ngModel)]="editedPet.name"
   name = "name"></ion-input>
   </ion-item>
  
   <ion-list>
   <ion-item>
    <ion-label>Species</ion-label>
    <ion-select [(ngModel)]="editedPet.species" name="species" interface= "action-sheet">
      <ion-option value="dog">Dog</ion-option>
      <ion-option value="cat">Cat</ion-option>
      <ion-option value="fish">Fish</ion-option>
      <ion-option value="bird">Bird</ion-option>
      <ion-option value="snake">Snake</ion-option>
      <ion-option value="other">Other</ion-option>
    </ion-select>
   </ion-item>
   </ion-list>
  
  <ion-list>
   <ion-item>
      <ion-label>Age</ion-label>
    <ion-range min="0" max="100" step="1" snaps="true" pin="true" 
    [(ngModel)]="editedPet.age" name="age">
      <ion-label range-left>0</ion-label>
      <ion-label range-right>100</ion-label>
    </ion-range>
   </ion-item>
   </ion-list>

   <ion-list>
   <ion-item>
   <ion-label>
    Sex
   </ion-label>
   <ion-select [(ngModel)]="editedPet.sex" name="sex" interface= "action-sheet">
      <ion-option value="male" >Male</ion-option>
      <ion-option value="female">Female</ion-option>
   </ion-select>
   </ion-item>
   </ion-list>
  
   <ion-item>
   <ion-input type="text" placeholder="Registration Number" [(ngModel)]="editedPet.rego"
   name="rego"></ion-input>
   </ion-item>
  
   <ion-item>
   <ion-input type="text" placeholder="Phone Number" [(ngModel)]="editedPet.phone"
   name="phone"></ion-input>
   </ion-item>
   

  <button ion-button block type="submit">Make Changes</button>
  
  </form>
  </div>
      
   
</ion-content>
